<div class="footer">
  <div class="container-fluid p-5 text-center">
    <div class="row">
      <div class="col-md-4">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4">
        <h3>AROUND THE WEB</h3>
        <div class="icons d-flex justify-content-center">
          <div><i class="fa-brands fa-facebook"></i></div>
          <div><i class="fa-brands fa-twitter"></i></div>
          <div><i class="fa-brands fa-linkedin"></i></div>
          <div><i class="fa-solid fa-globe"></i></div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme</p>
        <p>created by Route</p>
      </div>
    </div>
  </div>
</div>
<div class="end text-center p-2">
  <p>Copyright © Your Website 2021</p>
</div>
