<div class="all d-flex flex-column justify-content-center align-items-center">
  <h2>about component</h2>
  <div class="star d-flex justify-content-between align-items-center">
    <div class="line"></div>
    <i class="fa-solid fa-star"></i>
    <div class="line"></div>
  </div>
  <div class="container pt-5 text-white">
    <div class="row">
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</div>
