* {
  font-family: system-ui -apple-system "Segoe UI" Roboto "Helvetica Neue" "Noto Sans"
    "Liberation Sans" Arial sans-serif "Apple Color Emoji" "Segoe UI Emoji" "Segoe UI Symbol"
    "Noto Color Emoji";
}
.fa-star {
  color: #2c3e50;
}
.line {
  width: 40%;
  height: 4px;
  background-color: #2c3e50;
}
.form-control {
  padding: 15px;
  margin-bottom: 2%;
  border-top: none;
  border-left: none;
  border-right: none;
}
.form-control:focus {
  border-color: #dee2e6;
  box-shadow: none;
}
.btn {
  background-color: #1abc9c;
  color: white;
}

@media (min-width: 250px) {
  .star {
    width: 70%;
  }
  .all {
    padding-top: 10%;
    margin-top: 25%;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2c3e50;
  }
}
label {
  position: relative;
  top: 5px;
  left: 10px;
  font-weight: 400;
  font-size: 16px;
  opacity: 0;
  color: #1abc9c;
  transition: all 0.2s ease-in-out;
}
label.visible {
  opacity: 1; /* Show label when input has value */
  top: -10px;
}
@media (min-width: 500px) {
  .star {
    width: 70%;
  }
  .all {
    padding-top: 10%;
    margin-top: 15%;
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2c3e50;
  }
}
@media (min-width: 1000px) {
  .star {
    width: 20%;
  }
  .all {
    padding-top: 10%;
    margin-top: 5%;
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2c3e50;
  }
}
