<div class="d-flex justify-content-center align-items-center flex-column all">
  <h2>conatct section</h2>
  <div class="star d-flex justify-content-between align-items-center">
    <div class="line"></div>
    <i class="fa-solid fa-star"></i>
    <div class="line"></div>
  </div>
</div>
<div class="container w-50 mb-5">
  <label [class.visible]="nameValue" for="name">Username:</label>
  <input
    type="text"
    id="name"
    class="form-control"
    [(ngModel)]="nameValue"
    placeholder="userName"
    aria-label="default input example"
  />
  <label [class.visible]="ageValue" for="userAge">UserAge:</label>
  <input
    class="form-control"
    type="text"
    [(ngModel)]="ageValue"
    placeholder="userAge"
    aria-label="default input example"
  />
  <label [class.visible]="emailValue" for="userEmail">UserEmail:</label>
  <input
    class="form-control form-control-sm"
    type="text"
    [(ngModel)]="emailValue"
    placeholder="userEmail"
    aria-label=".form-control-sm example"
  />
  <label [class.visible]="passwordValue" for="userPassword"
    >UserPassword:</label
  >
  <input
    class="form-control form-control-sm"
    type="password"
    [(ngModel)]="passwordValue"
    placeholder="userPassword"
    aria-label=".form-control-sm example"
  />
  <button class="btn">Send Message</button>
</div>
