<div class="d-flex justify-content-center align-items-center flex-column all">
  <h2>conatct section</h2>
  <div class="star d-flex justify-content-between align-items-center">
    <div class="line"></div>
    <i class="fa-solid fa-star"></i>
    <div class="line"></div>
  </div>
</div>
<div class="container w-50 mb-5">
  <input
    class="form-control"
    type="text"
    placeholder="userName"
    aria-label="default input example"
  />
  <input
    class="form-control"
    type="text"
    placeholder="userAge"
    aria-label="default input example"
  />
  <input
    class="form-control form-control-sm"
    type="text"
    placeholder="userEmail"
    aria-label=".form-control-sm example"
  />
  <input
    class="form-control form-control-sm"
    type="text"
    placeholder="userPassword"
    aria-label=".form-control-sm example"
  />
  <button class="btn">Send Message</button>
</div>
